header {
    background-image: url(../img/pattern.png);
    background-color: rgb(92, 92, 216);
    height: 170px;
    position: relative;
}

.logo {
    width: 260px;
    position: absolute;
    left: 10px;
    bottom: 20px;
}

h1{
    font-size: 70px;
    margin-bottom: 0;
    margin-top: 15px;
}

h3{
    display: inline-block;
    margin-top: 0;
    color: gray;
    margin-bottom: 0;
}

.link{
    text-decoration: none;
    color: dodgerblue;
}

h4{
    color: gray;
    margin-top: 0;
}

.tim-1{
    height: 650px;
}

.tim-2{
    height: 650px;
}

.photo-1{
    margin: 0;
}

.photo-2{
    margin: 0;
}