header {
    background-image: url(../img/pattern.png);
    background-color: rgb(92, 92, 216);
    height: 170px;
    position: relative;
}

.logo {
    width: 260px;
    position: absolute;
    left: 10px;
    bottom: 20px;
}