header {
    background-image: url(../img/pattern.png);
    background-color: rgb(92, 92, 216);
    height: 170px;
    position: relative;
}

.logo {
    width: 260px;
    position: absolute;
    left: 10px;
    bottom: 20px;
}

h1{
    font-size: 70px;
    margin-bottom: 0;
    margin-top: 15px;
}

h3{
    display: inline-block;
    margin-top: 0;
    color: gray;
    margin-bottom: 0;
}

.link{
    text-decoration: none;
    color: dodgerblue;
}

h4{
    color: gray;
    margin-top: 0;
}

.tim-1{
    height: 650px;
}

.tim-2{
    height: 650px;
}

.photo-1{
    margin: 0;
}

.photo-2{
    margin: 0;
}

.text{
    font-size: x-large;
}

.back-color{
    background-color: yellow;
}

.list{
    font-size: x-large;
    padding-left: 20px;
}

table {
    font-size: x-large;
    border-spacing: 0;
}

thead{
    background-color: dodgerblue;
    color: white;
}

th, td {
    text-align: left;
}

.column-3{
    width: 50%;
}

.row-1{
    background-color: rgb(197, 245, 245);
}

.row-3{
    background-color: rgb(197, 245, 245);
}

.back-1{
    background-image: url(../img/monitor.jpg);
    height: 180px;
    width: 208px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    font-size: x-large;
    padding: 10px;
}

.back-2{
    background-image: url(../img/graph.jpg);
    height: 180px;
    width: 208px;
    color: white;
    font-size: x-large;
    padding: 10px;
}
